<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{message}}</h1>
        <h3>Username :{{user.username}}</h3>
        <h3>Password :{{user.password}}</h3>
    </body>
</html>